{% extends "base.html" %}
{% block title %}Charts{% endblock %}
{% block stylesheet %}
<!-- <link rel="stylesheet" href={{ url_for('camera_view_bp.static', filename='css/index.css') }}/> -->
{% endblock %}
{% block content %}
<button id="captureBtn" type="button" class="btn btn-primary">Capture</button>
<button id="previewBtn" type="button" class="btn btn-primary">Preview</button>

<script src={{ url_for('camera_view_bp.static', filename='scripts/camera.js') }} charset="utf=8"></script>
{% endblock %}